*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background:#F0F0F0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:1416px;
    height:717px;
    display:flex;
    box-shadow:0 8px 20px rgba(0,0,0,0.25);
    border-radius:50px;
    overflow:hidden;
}

/* Lado esquerdo */
.left{
    width:50%;
    background:#5260F7;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.left img{
    width:274px;
    height:284px;
    margin-bottom:20px;
}

.left h1{
    font-size:50px;
    font-weight:800;
    margin-bottom:15px;
}

.left p{
    font-size:20px;
}

/* Lado direito */
.right{
    width:50%;
    background:white;
    padding:80px 50px;
}

.right h2{
    font-size:45px;
    font-weight:800;
    margin-bottom:15px;
}

.subtitle{
    font-size:17px;
    margin-bottom:40px;
}

.form-group{
    margin-bottom:25px;
}

.form-group label{
    display:block;
    margin-bottom:10px;
    font-size:17px;
}

.form-group input{
    width:100%;
    height:55px;
    border:none;
    background:#F0F0F0;
    border-radius:10px;
    padding:0 20px;
    font-size:16px;
}

.forgot{
    text-align:right;
    margin-top:10px;
}

.forgot a{
    text-decoration:none;
    color:#605AFE;
    font-weight:700;
}

.btn-login{
    width:100%;
    height:50px;
    background:#5260F7;
    color:white;
    border:none;
    border-radius:10px;
    font-size:20px;
    font-weight:700;
    cursor:pointer;
    margin-top:30px;
}

.register{
    text-align:center;
    margin-top:35px;
    font-size:17px;
    color:#868686;
}

.register a{
    color:#5260F7;
    text-decoration:none;
    font-weight:700;
}

@media(max-width: 1200px){
    .container{
        width:95%;
        height:auto;
        flex-direction:column;
    }

    .left,
    .right{
        width:100%;
        padding:50px 30px;
    }

    .left img{
        width:180px;
        height:auto;
    }

    .left h1{
        font-size:40px;
    }

    .right h2{
        font-size:35px;
    }
}